{{#section 'title'}}
    Login Page
{{/section}}
{{#section 'stylesheets'}}
    <link rel="stylesheet" type="text/css" href="css/index.css">
{{/section}}

<h1>Welcome on the login page</h1>

<output id="message"></output>

<form>
    <input id="username" name="username" type="text" name="username" placeholder="User Name" />
    <input id="password" name="password" type="password" />
    <button id="login"
            class="btn">
        Login
    </button>
</form>

<script src="/js/login.js"></script>
