{{#section 'title'}}
    Cluster Metrics
{{/section}}
{{#section 'stylesheets'}}
    <link rel="stylesheet" type="text/css" href="css/listPods.css">
{{/section}}
{{#section 'scripts'}}
{{/section}}

<p>Blob</p>
{{promMetrics}}
<p>Details</p>
{{#each promMetrics}}
    <p>Metric {{@index}}:</p>
    <p>{{this.metric}}</p>
    <p>{{this.values}}</p>
{{/each}}