{{#section 'title'}}
    Admin Section
{{/section}}
{{#section 'stylesheets'}}
{{/section}}
{{#section 'scripts'}}
{{/section}}
<div class="row">
    <h3>The reconnection was successfully: {{isDatabaseAvailable}}</h3>
</div>
