{{#section 'title'}}
    Dashboard
{{/section}}
{{#section 'scripts'}}
    <!-- Libs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datasource-prometheus/dist/chartjs-plugin-datasource-prometheus.umd.min.js"></script>

    <!-- Own Code -->
    <script type="module" src="js/index.js"></script>
{{/section}}
{{#section 'stylesheets'}}
{{/section}}

{{#if_eq successfulDelete true}}
<div class="card text-white bg-success mb-3">
    <div class="card-body">
        <h5 class="card-title">Chart was successfully delete</h5>
    </div>
</div>
{{/if_eq}}

{{#if_eq successfulDelete false}}
    <div class="card text-white bg-warning mb-3">
        <div class="card-body">
            <h5 class="card-title">Could not delete chart</h5>
        </div>
    </div>
{{/if_eq}}

<div id="chart-container">
</div>
