{{#section 'title'}}
    Dashboard
{{/section}}
{{#section 'scripts'}}
    <!-- Libs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datasource-prometheus/dist/chartjs-plugin-datasource-prometheus.umd.min.js"></script>

    <!-- Own Code -->
    <script type="module" src="js/index.js"></script>
{{/section}}
{{#section 'stylesheets'}}
    <link rel="stylesheet" type="text/css" href="css/index.css">
{{/section}}

<div class="accordion-body">
    <div class="card">
        <div class="card-header">
            <h5>CPU Usage (Seconds)</h5>
            <button class="btn btn-collapse">Collapse</button>
        </div>
        <div class="card-body">
            <div class="collapsable">
                <div class="row">
                    <canvas id="cpuChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion-body">
    <div class="card">
        <div class="card-header">
            <h5>Memory Usage (Bytes)</h5>
            <button class="btn btn-collapse">Collapse</button>
        </div>
        <div class="card-body">
            <div class="collapsable">
                <div class="row">
                    <canvas id="memoryChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion-body">
    <div class="card">
        <div class="card-header">
            <h5>Disk Usage (Bytes)</h5>
            <button class="btn btn-collapse">Collapse</button>
        </div>
        <div class="card-body">
            <div class="collapsable">
                <div class="row">
                    <canvas id="diskChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>