:root {
    --color-light: #ffffff;
    --color-dark: #2b2b2b;
    max-width: 1080px;
    padding: 1em;
}

/*variables / switching*/
body[data-style='light'] {
    --color: var(--color-dark);
    --bg-color: var(--color-light);
}

/*variables / switching*/
body[data-style='dark'] {
    --color: var(--color-light);
    --bg-color: var(--color-dark);
}

/*applying variables*/
body {
    color: var(--color);
    background-color: var(--bg-color);
}

.btnDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.hidden {
    display: none;
}
