:root {
    --color-light: #ccd0d3;
    --color-dark: #041e21;
    --color-decoration: #0A4D5E;
    max-width: 1080px;
    padding: 1em;
}

/*variables / switching*/
body[data-style='light'] {
    --color: var(--color-dark);
    --bg-color: var(--color-light);
}

/*variables / switching*/
body[data-style='dark'] {
    --color: var(--color-light);
    --bg-color: var(--color-dark);
}

/*applying variables*/
body {
    color: var(--color);
    background-color: var(--bg-color);
}

button .btn {
    background-color: var(--color-decoration);
    color: var(--color);
}

.nav {
    background-color: var(--color);
    color: var(--bg-color);
}

.nav-item>a {
    color: var(--bg-color);
}

.nav-item>a:active {
    background-color: var(--color-decoration);
}

.container-fluid {
    margin: 2px 10px 10px 10px; /* margin: <top> <right> <bottom> <left> */
}

.btnDiv {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.hidden {
    display: none;
}

.content {
    align-self: center;
    border: 5px solid var(--color);
    background-color: var(--bg-color);
    width: 100%;
}
