# Project Documentation Latex build artifacts
out/
latexdiff-base/
gitDescription.tmp
src/**/*.aux
src/**/*.gz
src/**/*.log
src/**/*.out
src/**/*.toc
src/**/*.bbl
src/**/*.blg
src/**/*.fdb_latexmk
src/**/*.fls
src/**/*.lof
src/**/*.lot
src/project-proposal-standalone.pdf
src/main.pdf

# Time Tracking
time-tracking/bin/*.csv
time-tracking/bin/gtt.db
